<div class="row">
  <div class="col-2">
    <p>Toggle Layer Visibility</p>
    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off"
            (click)="toggleVisibility('historic-place')">
      Historic Place
    </button><br>
    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off"
            (click)="toggleVisibility('historic-area')">
      Historic Area
    </button>
  </div>
  <div class="col-10">
    <div id="map"></div>
  </div>
</div>



